<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>404</title>
    <link rel="stylesheet" href="style.css" />
    <style>
      body {
        background-image: url("img/404.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 40%;
      }
      h1 {
        color: rgba(255, 0, 0, 0.2);
        font-size: 8vw;
        margin-bottom: 5px;
      }
      h3 {
        color: rgba(255, 0, 0, 0.2);
        font-size: 4vw;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <h1>404</h1>
    <h3>Not found</h3>
  </body>
</html>
